@import url("https://use.fontawesome.com/d0c316cf02.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container {
  border-radius: 20px;
  background-color: white;
  width: 70vw;
  max-width: 1000px;
  padding: 20px;

  -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 10px;
}

.search-bar-input {
  width: 100%;
  border: none;
  font-size: 24px;

  font-family: "Roboto", sans-serif;
  letter-spacing: -1px;
}

.search-bar-input:focus {
  outline: none;
}

::placeholder {
  color: #bababa;
}

.search-result {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 380px;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.movie-result {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 15%;
  align-items: center;
}

.movie-no-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  color: #ababab;
}

.movie-poster {
  height: 225px;
  display: inline-block;
  overflow: hidden;

  transition: opacity 0.15s ease-in-out;
}

.movie-poster img {
  height: 100%;
  width: auto;
  max-width: 150px;
}

.movie-poster:hover {
  opacity: 0.7;

  transition: opacity 0.15s ease-in-out;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}

.movie-info a:link, .movie-info a:visited {
  text-decoration: none;
  color: black;
}

.movie-info a:hover {
  text-decoration: underline;
}

.movie-title {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.movie-year {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.movie-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nominate-button {
  position: absolute;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  
  width: 90%;
  bottom: 10px;
}

.nominate-button-enabled {
  background-color: #87e7eb;
  color: white;

  transition: opacity 0.15s ease-in-out, background-color 0.3s ease-in-out;
}

.nominate-button-enabled:hover {
  opacity: 0.7;
  cursor: pointer;

  transition: opacity 0.15s ease-in-out;
}

.nominate-button-disabled {
  background-color: #dddddd;
  color: black;

  transition: background-color 0.3s ease-in-out;
}

.search-page-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 5px;
}

.page-left {
  position: absolute;
  left: 0;
}

.page-right {
  position: absolute;
  right: 0;
}

.search-page-button-enabled {
  color: black;
}

.search-page-button-enabled:hover {
  opacity: 0.7;
  cursor: pointer;
}

.search-page-button-disabled {
  color: #cdcdcd;
}