@import url("https://use.fontawesome.com/d0c316cf02.js");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Bebas+Neue&family=Exo+2:ital,wght@1,600&display=swap');

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;

  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  height: 50px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
  align-items: center;

  gap: 5px;
}

.logo-image {
  height: 50px;
  display: inline-block;
  overflow: hidden;
}

.logo-image img {
  height: 100%;
  width: auto;
  max-width: 150px;
}

.logo-label {
  font-family: "Bebas Neue", sans-serif;
  font-size: 36px;
  align-self: center;
  margin-top: 10px;
}

.container {
  border-radius: 20px;
  background-color: white;
  width: 70vw;
  max-width: 1000px;
  padding: 20px;
  padding-bottom: 0;

  -webkit-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.1);
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.search-bar-input {
  width: 100%;
  border: none;
  font-size: 20px;

  font-family: "Roboto", sans-serif;
  letter-spacing: -0.5px;
}

.search-bar-input:focus {
  outline: none;
}

::placeholder {
  color: #bababa;
}

.search-result, .nomination-container {
  position: relative;
  display: flex;
  flex-direction: row;
  /* height: 370px; */
  height: auto;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.movie-result {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 15%;
  align-items: center;
  padding-bottom: 60px;
}

.movie-no-result, .no-nomination, .loading-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  color: #ababab;
}

.movie-poster {
  height: 225px;
  display: inline-block;
  overflow: hidden;

  transition: opacity 0.15s ease-in-out;
}

.movie-poster img {
  height: 100%;
  width: auto;
  max-width: 150px;
}

.movie-poster:hover {
  opacity: 0.7;

  transition: opacity 0.15s ease-in-out;
}

.movie-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
}

.movie-info a:link, .movie-info a:visited {
  text-decoration: none;
  color: black;
}

.movie-info a:hover {
  text-decoration: underline;
}

.movie-title {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.movie-year {
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.movie-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nominate-button {
  position: absolute;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  
  width: 90%;
  bottom: 10px;
}

.nominate-button-enabled {
  background-color: #A5CF57;
  color: white;

  transition: opacity 0.15s ease-in-out, background-color 0.3s ease-in-out;
}

.remove-nomination-button {
  background-color: #ff4d4d;
  color: white;

  transition: opacity 0.15s ease-in-out, background-color 0.3s ease-in-out;
}

.nominate-button-enabled:hover, .remove-nomination-button:hover {
  opacity: 0.7;
  cursor: pointer;

  transition: opacity 0.15s ease-in-out;
}

.nominate-button-disabled {
  background-color: #dddddd;
  color: black;

  transition: background-color 0.3s ease-in-out;
}

.search-page-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 5px;
}

.page-left {
  position: absolute;
  left: 0;
}

.page-right {
  position: absolute;
  right: 0;
}

.search-page-button-enabled {
  color: black;
}

.search-page-button-enabled:hover {
  opacity: 0.7;
  cursor: pointer;
}

.search-page-button-disabled {
  color: #cdcdcd;
}

.no-nomination {
  height: 400px;
}

.nomination-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nominated-movies {
  display: flex;
  flex-direction: row;
  height: 380px;
  width: 100%;
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.nomination-title {
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: -1px;
}

.loading-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 370px;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.movie-no-result {
  height: 370px;
}